<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="/tmp/logs" />
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/fault-shield-core.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/fault-shield-core.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>
                <!-- Fecha | LogLevel | Hilo | Clase | Message -->
                %cyan(%d{ISO8601}) %highlight(%-5level) [%thread] %yellow(%C{1}) - %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                <!-- Fecha | LogLevel | Hilo | Clase | Message -->
                %cyan(%d{ISO8601}) %highlight(%-5level) [%thread] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <!-- LOG por defecto para todos los paquetes a partir del nivel 'INFO' y superiores. -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- LOG para paquetes 'com.robinfood.exceptionhandlerrfsidecar.*' a partir del nivel 'TRACE' y superiores. -->
    <logger name="com.robinfood.exceptionhandlerrfsidecar" level="trace" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>